{{ $ := .root }}
{{ $page := .page }}
{{ $datafolder := "/data/teaching/courses" }}

{{ $semesters := getJSON (printf "%s/semesters.json" $datafolder) }}
{{ $idx := $page.Param "element" }}
{{ $sem := index $semesters $idx }}
{{ $courses := getJSON (printf "%s/%s.json" $datafolder $sem) }}

<div class="row col-lg-12 courses-widget">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  <h2>{{ $sem }}</h2>
  <h3>Lectures and Exercises</h3>
  <div class="full-width">{{ partial "course_table" $courses.lectures_exercises }}</div>
  <h3>Seminars and Projects</h3>
  <div class="full-width">{{ partial "course_table" $courses.seminars_projects }}</div>
  {{ if (ne ($courses.other | len) 0) }}
  <h3>Other</h3>
  <div class="full-width">{{ partial "course_table" $courses.other }}</div>
  {{ end }}
</div>
