// override academic's display: block on tables
.full-width table {
  display: table !important;
}

.courses-widget {
  h1, h2, h3 {
    text-align: center;
  }

  flex-direction: column;
  align-items: center;
}

#container-courses {
  display: block;
  position: relative;
  overflow: hidden;
}

.semester {
  position: relative !important; // Isotope override
  transition-duration: 0s !important; // Isotope override

  flex-direction: column;
  align-items: center;
}
