// override academic's display: block on tables
.full-width table {
  display: table !important;
}

.courses-widget {
  h1, h2, h3 {
    text-align: center;
  }

  flex-direction: column;
}

#container-courses {
  display: block;
  position: relative;
  overflow: hidden;
}

.semester {
  flex-direction: column;
  align-items: center;
}

.card h4 {
  text-transform: none;
}

.anchorjs-link {
  display: none;
}
