ul.data-pairs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 30px 0 0;
}

.head-font {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}
