<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Type</th>
      <th>Title</th>
      <th>Lecturers</th>
    </tr>
  </thead>
  <tbody>
    {{range $row := . }}
    <tr>
      <td><a href="{{ index $row "url" }}">{{ index $row "number" }}</a></td>
      <td>{{ index $row "type" }}</td>
      <td>{{ index $row "title" }}</td>
      <td>
        {{- $len := len (index $row "authors") -}}
        {{ range $index, $username := (index $row "authors") }}
        {{- $profile_page := site.GetPage (printf "/%s/%s" "people" $username) -}}
        {{- $name := $profile_page.Params.name | default ($username|markdownify) -}}
          <span>
            <a href="{{$profile_page.RelPermalink}}">{{$name}}</a>
            {{- if lt $index (sub $len 1) -}}, {{- end -}}
          </span>
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
